<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 5//EN">
<html>
  <head>
    <title>CompostMeNot - Seattle</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="Rubab Khan" name="author">
    <meta content="Rubab's Insight Project" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body><div class="container">
  <br>
  <center>
    <h1><font color="green">CompostMe</font><font color="red">Not</font></h1>
    <font color="blue">
      <h3>Dear Seattle, should I put this in compost or not?</h3>
    </font>
    <br><br><br><br>
     <form method=post enctype=multipart/form-data>
       <input type=file name=file>
       <br> <h4>Please upload a close up picture of only the item excluding surroundings as much as possible</h4> <br>
       <input type=submit value=Compost???>
     </form>				 
    <br><br>
    <p> by <br> Rubab Khan <br></p>
    <a href="https://www.linkedin.com/in/RubabKhanAstro">
    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View my profile on LinkedIn"></a>
    <br>
  </center>
  </body></div>					 
</html>
